<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <meta content='' name='description'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='http://thehackerolympics.com/img/favicon.png' rel='icon' type='image/png'>
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic|Viga' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='wrapper' id='main-content'></div>
    <script id='main-layout' type='text/template'>
      <div class='nav-content'></div>
      <div class='content container'></div>
    </script>
    <script id='home-page' type='text/template'>
      <div class='row'>
        <div class='col-xs-12'>
          <h1 class='hero-txt'>Hacker Olympics</h1>
        </div>
        <div class='col-md-6'>
          <div class='format-container'></div>
        </div>
        <div class='col-md-6'>
          <h3>Schedule</h3>
          <div class='schedule-container'></div>
          <h3>Sponsors</h3>
          <div class='sponsors'>
            <img class='img-thumbnail' src='img/sponsors/twilio.svg' width='160'>
            <img class='img-thumbnail' src='img/sponsors/send-grid.png' width='160'>
            <img class='img-thumbnail' src='img/sponsors/firebase.png' width='160'>
          </div>
        </div>
      </div>
    </script>
    <script id='challenges-page' type='text/template'>
      <div class='rules-container'></div>
      <div class='row'>
        <div class='col-md-offset-1 challenge-row'>
          <h3>Challenges</h3>
          <div class='challenges-container'></div>
        </div>
      </div>
    </script>
    <script id='navbar' type='text/template'>
      <nav class='navbar navbar-default' role='navigation'>
        <div class='navbar-header'>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <a class='navbar-brand' href='#'>
          <img src='img/logo-home.png' width='44'>
        </a>
        <div class='collapse navbar-collapse navbar-ex1-collapse'>
          <ul class='nav navbar-nav'>
            <li class='active'>
              <a class="nav-link" href="#" data-slug="home">Home </a>
            </li>
            <li>
              <a class="nav-link" href="#" data-slug="rules">Challenges </a>
            </li>
            <li>
              <a class="nav-link" href="leaderboard" data-slug="leaderboard">Leaderboard </a>
            </li>
          </ul>
          <p class='navbar-text pull-right'>
            <a href="https://www.eventbrite.co.uk/e/hacker-olympics-london-tickets-960465779" class="btn btn-warning">Register Now</a>
          </p>
        </div>
      </nav>
      <div class="event-card <%= event_info[0].city_slug %>">
      <div class="event-info">
      <span><%= event_info[0].title %></span>
      <span><%= event_info[0].when %></span>
      <span><%= event_info[0].where %></span>
      </div>
      </div>
      <a href="https://www.eventbrite.co.uk/e/hacker-olympics-london-tickets-960465779" class="register-btn btn btn-lg btn-warning">Register Now</a>
    </script>
    <script id='schedule-item' type='text/template'>
      <div class='row well'>
        <div class='col-xs-3'>
          <span class='time'><%= scheduletimes %></span>
        </div>
        <div class='col-xs-9'>
          <span><%= scheduleevent %></span>
        </div>
      </div>
    </script>
    <script id='format-info' type='text/template'>
      <h3>Welcome</h3>
      <div class='well'><%= what %></div>
      <h3>Format</h3>
      <div class='well'><%= how %></div>
    </script>
    <script id='sub-view' type='text/template'>
      <div class='content'></div>
    </script>
    <script id='challenge-item' type='text/template'>
      <div class='row'>
        <div class='col-md-9'>
          <div class='panel panel-success'>
            <div class='panel-heading'>
              <h3 class='panel-title'><%= challengetitle %></h3>
            </div>
            <div class='panel-body'>
              <%= rules %>
            </div>
            <div class='panel-footer'>
              <b>Scoring:</b>
              <span><%= scoring %></span>
              <% if (typeof(resourceurl) != "undefined") { %>
              <hr>
              <b>Resource:</b>
              <a href= "<%= resourceurl %>" target="_blank"> <%= resourcetitle %> </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script id='rules-item' type='text/template'>
      <div class='row'>
        <div class='col-xs-1'>
          <% if (typeof(rulenumber) != "undefined") { %>
          <h2 class='num'><%= rulenumber %></h2>
          <% } %>
        </div>
        <div class='col-xs-11 col-md-6'>
          <% if (typeof(rulenumber) != "undefined") { %>
          <p class='rule'><%= rule %></p>
          <% } else { %>
          <h3><%= rule %></h3>
          <% } %>
        </div>
      </div>
    </script>
    <script src='js/lib/jquery-1.7.1.min.js'></script>
    <script src='js/lib/underscore.js'></script>
    <script src='js/lib/backbone.js'></script>
    <script src='js/lib/backbone.marionette.min.js'></script>
    <script src='js/lib/backbone.tabletopSync.js'></script>
    <script src='js/lib/bootstrap/bootstrap-collapse.js'></script>
    <script src='js/lib/tabletop.js'></script>
    <script src='js/src/main.js'></script>
  </body>
</html>
