body {
	background: black url("../img/bg-grid.png") top center;
	color: #fff;
}

h3, p {
	color: #fff;
	text-align: center;
}

.hacker-olympics-graphic {
	background: url("../img/graphic-hackerolympics.png") no-repeat;
	width: 168px;
	height: 86px;
	margin: 40px 100px 30px 100px;
}
.leaderboard-container {
	background-color: rgba(250, 250, 250, .4);
	padding: 20px;
	border-top: solid 2px #fff;

}
.leaderboard .list-group-item, .alert-info {
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 0px 0px 0px 0px;
	background-color: #3279FF;
	color: #fff;
	font-weight: bold;
	border-top: solid 2px #fff;
	border-left: none;
	border-bottom: none;
	border-right: none;
	background-image: url("../img/bg-grid.png");
}
.leaderboard .list-group-item .badge {
	color: #3279FF;
}

.leaderboard .list-group-item:hover {
	background-color: #3C72D6;
}

/* first */
.leaderboard a:first-child {
	background-color: #FFC644;
}

.leaderboard a:first-child .badge {
	color: #FFC644;
}

/* second */
.leaderboard a:nth-child(2) {
	background-color: #F48B5D;
}

.leaderboard a:nth-child(2) .badge {
	color: #F48B5D;
}

/* third */
.leaderboard a:nth-child(3) {
	background-color: #EA5572;
}

.leaderboard a:nth-child(3) .badge {
	color: #EA5572;
}

/*.leaderboard a:nth-child(4), .leaderboard a:nth-child(5), .leaderboard a:nth-child(6) {
	background-color: #3279FF;
	color: #000;
}	*/

.badge {
	background-color: rgba(255,255,255, 0.8);
	font-size: 20px;
	padding: 15px;
	margin: -12px;
	border-radius: 0px 0px 0px 0px;
	width: 100px;
}