<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

</head>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The Hacker Olympics</title>
    <link rel="stylesheet" href="../stylesheets/app.css" />
    <link rel="stylesheet" href="../stylesheets/foundation.min.css" />
    <link rel="stylesheet" href="../stylesheets/twiliocon-styles.css">
    <script src="../js/lib/jquery-1.7.1.min.js"></script>
    <script src="../js/lib/underscore.js"></script>
    <script src="../js/lib/backbone.js"></script>
    <script src="../js/lib/backbone.marionette.min.js"></script>
    <script src="../js/src/teamschedule.js"></script>

</head>
<body>
    <div class="container">
              <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="hacker-olympics-graphic">
            </div>
          </div>
      </div>
        <div class="row">
            <div class="large-12 small-6 columns">
                <h3>Team Schedule</h3>
                <div id="schedule">
                </div>
            </div>
        </div>

    </div>

    <script id="schedule-layout" type="text/template">
        <div class="schedule-list"></div>
    </script>

    <script id="slot-item" type="text/template">
            <p class="title" data-section-title><a href="#"><%= team %>  <%= teamName %></a></p>
            <div class="content" data-section-content>
                <p class="bomberman"><b>Bomb's Away!:</b> <%= bomberman %> </p>
                <p class="stack"><b>Stack Overflow:</b> <%= stackoverflow %> </i></p>
                <p class="charades"><b>Startup Charades:</b> <%= charadeTime %> <i>Station <%= charadeBooth %></i></p>
            </div>
        
    </script>

    <script>
    document.write('<script src=' +
    ('__proto__' in {} ? '../javascripts/vendor/zepto' : '../javascripts/vendor/jquery') +
    '.js><\/script>')
    </script>
    
    <script src="../javascripts/foundation/foundation.js"></script>
    
    <script src="../javascripts/foundation/foundation.alerts.js"></script>
    
    <script src="../javascripts/foundation/foundation.clearing.js"></script>
    
    <script src="../javascripts/foundation/foundation.cookie.js"></script>
    
    <script src="../javascripts/foundation/foundation.dropdown.js"></script>
    
    <script src="../javascripts/foundation/foundation.forms.js"></script>
    
    <script src="../javascripts/foundation/foundation.interchange.js"></script>
    
    <script src="../javascripts/foundation/foundation.joyride.js"></script>
    
    <script src="../javascripts/foundation/foundation.magellan.js"></script>
    
    <script src="../javascripts/foundation/foundation.orbit.js"></script>
    
    <script src="../javascripts/foundation/foundation.placeholder.js"></script>
    
    <script src="../javascripts/foundation/foundation.reveal.js"></script>
    
    <script src="../javascripts/foundation/foundation.section.js"></script>
    
    <script src="../javascripts/foundation/foundation.tooltips.js"></script>
    
    <script src="../javascripts/foundation/foundation.topbar.js"></script>
    
    
    <script>
    $(document).foundation();
    </script>
</body>
</html>
